/* custom fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* defaults & resets */
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header,
section {
	display: block;
}
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.fw {
	width: 100%;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
a {
	text-decoration: none;
	transition: all 0.2s;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fcf6f2;
	color: #000000;
	font-weight: 400;
	font-size: 17px;
}
h1 {
	font-size: 1.75em;
}

/* container */
.container {
	margin: 32px auto;
	max-width: 640px;
	padding: 0 16px;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 40px;
}
header h1 {
	margin: 0;
}

/* custom select */
.custom-select {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.custom-select:after {
	content: '';
	position: absolute;
	top: 15px;
	right: 10px;
	width: 10px;
	height: 10px;
	border-width: 0 2px 2px 0;
	border-color: #777777;
	border-style: solid;
	display: inline-block;
	vertical-align: top;
	transform: rotate(45deg);
	transform-origin: top;
	pointer-events: none;
}
.custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 8px 40px 8px 16px;
	background-color: #efeff0;
	border-color: #efeff0;
	color: #3c1921;
	font-family: 'Source Sans Pro', sans-serif;
	outline: 0 none;
	height: 40px;
	box-shadow: none;
	border-radius: 4px;
	background-clip: padding-box;
	font-size: 15px;
	line-height: 1.2;
	transition: all 0.2s;
}

/* card */
.card {
	padding: 24px;
	background-color: #ffffff;
	box-shadow: 0 0 24px rgba(170, 39, 42, 0.28);
	border-radius: 8px;
}

/* accordion */
.accordion .accordion-link {
	display: block;
	width: 100%;
	cursor: pointer;
	position: relative;
	padding: 12px 0 12px 40px;
	border-bottom: 1px solid #f7efe8;
	font-weight: 600;
	user-select: none;
}
.accordion .accordion-link:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 12px;
	width: 24px;
	height: 24px;
	text-align: center;
	background-color: #d8b8a6;
	border-radius: 100%;
}
.accordion .accordion-link:after {
	content: '+';
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	line-height: 1;
	position: absolute;
	left: 6px;
	top: 12px;
	transition: all 0.2s;
}
.accordion ol {
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: inset 0 -1px 0 0 #f7efe8;
	font-size: 15px;
	list-style: decimal;
	list-style-position: inside;
}
.accordion li {
	float: left;
	width: 100%;
	margin: 8px 0;
}
.accordion li.no-items {
	list-style: none;
}
.accordion li:first-child {
	padding-top: 16px;
}
.accordion li:last-child {
	padding-bottom: 20px;
}

/* open state */
.accordion.open ol {
	display: block;
}
.accordion.open .accordion-link:after {
	transform: rotate(45deg);
}

/* tablets */
@media (min-width: 768px) {
	.card {
		padding: 40px 56px;
	}
	.accordion ol {
		padding-left: 40px;
	}
}
